@charset "UTF-8";

/* Main Colors */

/* Fonts */

/*container*/

/*styles*/

/* custom-reset.css | 27.08.2018 | https://yurch-html.github.io/dist/custom-reset.html */

*,
*:before,
*:after {
  box-sizing: border-box;
  position: relative;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  background-color: #fff;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-decoration-skip: objects;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

:focus {
  outline: none;
}

p,
dd,
dl,
figure,
blockquote {
  margin: 0;
}

blockquote,
q {
  quotes: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

audio,
video {
  display: block;
}

img {
  display: block;
  border: none;
  max-width: 100%;
}

iframe {
  border: none;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr {
  border: none;
  text-decoration: none;
}

b,
strong {
  font-weight: inherit;
}

i,
em {
  font-style: inherit;
}

dfn {
  font-style: inherit;
}

mark {
  background-color: transparent;
  color: inherit;
}

small {
  font-size: inherit;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: inherit;
  line-height: 0;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-align: left;
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  cursor: pointer;
  -webkit-appearance: none;
}

textarea {
  resize: none;
  overflow-y: auto;
  overflow-x: hidden;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: none;
}

[type='number'] {
  -moz-appearance: textfield;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
  -webkit-appearance: none;
  margin: 0;
}

[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

[type='search'] {
  outline: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

legend {
  display: block;
  padding: 0;
  white-space: normal;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

::placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity .3s;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity .3s;
}

:-moz-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity .3s;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
  transition: opacity .3s;
}

:focus::placeholder {
  opacity: 0;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
}

:focus::-moz-placeholder {
  opacity: 0;
}

:focus:-ms-input-placeholder {
  opacity: 0;
}

svg {
  display: block;
  fill: currentColor;
}

[hidden] {
  display: none;
}

:disabled,
.disabled {
  cursor: not-allowed;
}

::-ms-clear {
  display: none;
}

:-webkit-autofill {
  box-shadow: 0 0 100px #fff inset;
  -webkit-text-fill-color: currentColor;
}

::selection {
  color: #fff;
  background-color: #1D0D0B;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

.cover-pic,
.contain-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover-pic {
  object-fit: cover;
}

.contain-pic {
  object-fit: contain;
}

.footer {
  margin-top: auto;
}

@font-face {
  font-family: 'swiper-icons';
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --swiper-theme-color: #007aff;
}

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-container-multirow > .swiper-wrapper {
  flex-wrap: wrap;
}

.swiper-container-multirow-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: column;
}

.swiper-container-free-mode > .swiper-wrapper {
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-container-pointer-events {
  touch-action: pan-y;
}

.swiper-container-pointer-events.swiper-container-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

/* 3D Effects */

.swiper-container-3d {
  perspective: 1200px;
}

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */

.swiper-container-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
}

.swiper-container-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-container-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-container-horizontal.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-container-vertical.swiper-container-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.body {
  background: #fff;
  color: #292223;
  font-family: "Avenir", sans-serif;
  font-size: 18px;
  letter-spacing: normal;
  line-height: 1.2;
  scroll-behavior: smooth;
}

.body.--frozen {
  overflow: hidden;
}

.container {
  max-width: 1310px;
  padding-left: 25px;
  padding-right: 25px;
  margin: 0 auto;
  position: relative;
  z-index: 50;
  width: 100%;
}

.hidden {
  display: none;
}

.content {
  position: relative;
  z-index: 10;
}

.text {
  font-size: 20px;
}

.text.--nowrap {
  white-space: nowrap;
}

.text.--muted {
  color: rgba(41, 34, 35, 0.5);
}

.text.--uppercase {
  text-transform: uppercase;
}

a {
  cursor: pointer;
  color: #292223;
  text-decoration: none;
}

.link,
.text-title {
  font-weight: bold;
  transition: color .4s;
  font-size: 20px;
}

.link:hover {
  color: #F55174;
}

.text-grey {
  color: #B3B7C2;
}

.grey-description {
  color: #B3B7C2;
  line-height: 18px;
  display: inline-block;
}

a.grey-description {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  transition: border .4s;
}

a.grey-description:hover {
  border-bottom-color: transparent;
}

strong {
  font-weight: bold;
}

::placeholder {
  color: #B3B7C2;
  transition: .4s;
}

:focus::placeholder {
  opacity: 0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

img {
  max-width: 100%;
  display: block;
}

form {
  display: block;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Avenir", sans-serif;
  font-weight: normal;
}

h1.--white,
h2.--white,
h3.--white,
h4.--white,
h5.--white,
h6.--white {
  color: #fff;
}

h1 {
  font-size: 55px;
  line-height: 50px;
  margin-bottom: 35px;
  text-align: center;
}

h2 {
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 40px;
  text-align: center;
}

h2.--text {
  margin-bottom: 18px;
}

h3 {
  font-size: 40px;
  line-height: 45px;
}

h4 {
  font-size: 32px;
  margin-bottom: 32px;
}

h5 {
  font-size: 22px;
  line-height: 24px;
}

.title-text p.text {
  font-size: 22px;
  max-width: 650px;
  margin: 0 auto 40px;
  text-align: center;
}

.svgsprite {
  display: inline-block;
  fill: currentColor;
  vertical-align: middle;
}

.svgsprite._arrow-down {
  width: 20px;
  height: 20px;
}

.svgsprite._arrow-left {
  width: 20px;
  height: 20px;
}

.svgsprite._arrow-right {
  width: 20px;
  height: 20px;
}

.svgsprite._bank {
  width: 60px;
  height: 60px;
}

.svgsprite._basket {
  width: 35px;
  height: 35px;
}

.svgsprite._burger {
  width: 30px;
  height: 30px;
}

.svgsprite._calendar {
  width: 24px;
  height: 24px;
}

.svgsprite._checked {
  width: 15px;
  height: 15px;
}

.svgsprite._clock {
  width: 20px;
  height: 20px;
}

.svgsprite._close {
  width: 35px;
  height: 35px;
}

.svgsprite._close-small {
  width: 20px;
  height: 20px;
}

.svgsprite._contact-marker {
  width: 20px;
  height: 20px;
}

.svgsprite._contact-phone {
  width: 20px;
  height: 20px;
}

.svgsprite._feature {
  width: 30px;
  height: 30px;
}

.svgsprite._heart {
  width: 35px;
  height: 35px;
}

.svgsprite._heart-full {
  width: 26px;
  height: 24px;
}

.svgsprite._inst {
  width: 35px;
  height: 35px;
}

.svgsprite._marker {
  width: 35px;
  height: 35px;
}

.svgsprite._minus {
  width: 20px;
  height: 20px;
}

.svgsprite._mobile-basket {
  width: 30px;
  height: 30px;
}

.svgsprite._paper {
  width: 60px;
  height: 60px;
}

.svgsprite._paypall {
  width: 60px;
  height: 60px;
}

.svgsprite._phone {
  width: 35px;
  height: 35px;
}

.svgsprite._phone-footer {
  width: 35px;
  height: 35px;
}

.svgsprite._plus {
  width: 20px;
  height: 20px;
}

.svgsprite._rub {
  width: 60px;
  height: 60px;
}

.svgsprite._search {
  width: 35px;
  height: 35px;
}

.svgsprite._star {
  width: 22px;
  height: 22px;
}

@font-face {
  font-family: 'Avenir';
  src: url("./fonts/AvenirNextCyr-Demi.woff2") format("woff2"), url("./fonts/AvenirNextCyr-Demi.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url("./fonts/AvenirNextCyr-Regular.woff2") format("woff2"), url("./fonts/AvenirNextCyr-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Avenir';
  src: url("./fonts/AvenirNextCyr-Medium.woff2") format("woff2"), url("./fonts/AvenirNextCyr-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.circle__button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #F4F4F4;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: background-color .4s;
}

.circle__button:hover {
  background-color: #EBEBEC;
}

.circle__button.--black {
  background-color: #292223;
}

.button {
  padding-left: 32px;
  padding-right: 32px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color .4s, border .4s;
  border-radius: 6px;
}

.button.--big {
  height: 70px;
  border-radius: 8px;
}

.button.--small {
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

.button.--dark {
  background-color: #3C3C3C;
  color: #fff;
}

.button.--dark:hover {
  background-color: #221E1E;
}

.button.--white {
  background-color: transparent;
  border-color: #E4E7EF;
  border-width: 1px;
  border-style: solid;
}

.button.--white:hover {
  border-color: inherit;
}

.button.--grey {
  background-color: #B3B7C2;
  color: #fff;
}

.button.--grey:hover {
  background-color: #949AAA;
}

.button.--lightgrey {
  background-color: #F7F7F7;
  color: #292223;
}

.button.--lightgrey:hover {
  background-color: #292223;
  color: #fff;
}

/*
Основной контейнер
*/

.content {
  overflow: hidden;
}

footer {
  background-color: #F5F5F5;
}

.footer {
  padding: 64px 0 50px;
}

.footer__top,
.footer__center {
  display: flex;
  justify-content: space-between;
}

.footer__top {
  padding-bottom: 56px;
  border-bottom: 1px solid #E4E4E4;
  margin-bottom: 50px;
}

.footer__contact {
  display: flex;
  align-items: center;
}

.footer__item:nth-child(1) {
  width: calc(33.3% - 60px);
  padding-right: 10px;
}

.footer__item:nth-child(2) {
  width: 33.3%;
}

.footer__item:nth-child(3) {
  width: 33.3%;
}

.footer__item:nth-child(4) {
  width: 172px;
}

.footer__logo {
  width: 145px;
}

.footer__circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #292223;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 26px;
}

.footer__center {
  padding-bottom: 65px;
}

.copyright {
  max-width: 250px;
  margin-bottom: 28px;
}

.pay-img {
  max-width: 133px;
}

.footer__link {
  margin-bottom: 17px;
}

.footer__link .link {
  font-weight: normal;
  border-bottom: 1px solid transparent;
  transition: border .4s;
}

.footer__link .link:hover {
  color: #292223;
  border-bottom-color: #292223;
}

.footer__link:last-child {
  margin-bottom: 0px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  color: #B3B7C2;
}

.footer__bottom a {
  text-decoration: underline;
  color: inherit;
}

.footer__bottom a:hover {
  text-decoration: none;
}

.footer-mobile {
  display: none;
}

.accardeon__item {
  border-bottom: 1px solid #E4E7EF;
}

.accardeon__main {
  padding-top: 38px;
  padding-bottom: 39px;
  font-size: 20px;
  position: relative;
  cursor: pointer;
}

.accardeon__main:after {
  content: "";
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%) rotateZ(180deg);
  transition: .4s;
  background: url(../img/footer/arrow.svg) no-repeat center/contain;
}

.accardeon__main.active:after {
  transform: translateY(-50%) rotateZ(0deg);
}

.accardeon__drop {
  padding-bottom: 40px;
  display: none;
}

.mobile-footer {
  display: none;
}

.number {
  position: absolute;
  left: 30px;
  bottom: 20px;
  font-size: 12px;
  color: #000;
}

.number.right {
  left: auto;
  right: 30px;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  z-index: 1000;
  padding-top: 20px;
}

.header img {
  width: 160px;
}

.header a {
  font-size: 12px;
  letter-spacing: 1.2px;
}

.header a.white {
  color: #fff;
}

.swiper-slide {
  height: 100vh;
}

.slide-1 {
  background: url(../img/OH_MY_STILL_LIFE97929_fin_hor.jpg) no-repeat center bottom/cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-1 .flex {
  transform: translateX(60px);
}

.logo {
  width: 200px;
}

.logo img {
  width: 100%;
}

.logo-absolute {
  position: absolute;
  left: 50%;
  bottom: 28px;
  transform: translateX(-50%);
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 35px;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  margin-left: 80px;
}

.flex-left {
  width: 50%;
  height: 100vh;
}

.flex-right {
  width: 50%;
  overflow: hidden;
}

.description {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.title {
  font-weight: 500;
  font-size: 4vw;
  line-height: 4vw;
}

.title b {
  font-weight: bold;
}

.line {
  display: inline-block;
  position: relative;
}

.line:after {
  content: "";
  position: absolute;
  left: -5px;
  height: 3px;
  width: calc(100% + 10px);
  background-color: #ceabd1;
  top: 2.3vw;
}

.slide-2 .description {
  text-align: right;
  margin-bottom: 30px;
  padding-right: 35px;
}

.slide-2 .pic {
  transform: translateX(10vw);
}

.slide-2 .pic img {
  width: auto;
}

.slide-2 .title {
  padding-left: 100px;
}

.slide-3 .flex-left {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: flex-end;
}

.slide-3 .flex-right {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.slide-3 .title {
  padding-left: 100px;
  padding-top: 70px;
  margin-bottom: 30px;
  width: 100%;
  height: 150px;
}

.slide-3 .pic {
  display: flex;
  align-items: flex-end;
  font-size: 4vw;
  justify-content: center;
  font-weight: 500;
  padding-bottom: 50px;
  letter-spacing: 4px;
}

.slide-3 .pic-1 {
  height: 60vh;
  width: 500px;
  margin-right: 120px;
  margin-bottom: 10vh;
  padding-bottom: 3vw;
  position: relative;
}

.slide-3 .pic-1:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  left: 100%;
  top: 0;
  margin-left: 50px;
  background-color: #fbf3a7;
}

.slide-3 .pic-2 {
  height: 75vh;
  width: calc(50% - 120px);
  position: relative;
  margin-bottom: 2vh;
  padding-bottom: 5.8vw;
}

.slide-3 .pic-2:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 100%;
  left: 100%;
  top: 0;
  margin-left: 50px;
  background-color: #ceabd1;
}

.slide-3 .pic-3 {
  width: 50%;
  height: 90vh;
  margin-top: 2vh;
  padding-bottom: 7vw;
}

a {
  display: block;
}

.slide-4 {
  background: url(../img/purple-line.svg) no-repeat right 80px bottom -10px/auto 150%;
}

.slide-4 .flex-left {
  display: flex;
  align-items: flex-end;
}

.slide-4 .pic-2 {
  max-width: 400px;
  display: flex;
}

.slide-4 .pic-2 a {
  height: 100%;
}

.slide-4 .pic-2 img {
  max-height: 50vh;
  max-width: 100%;
}

.slide-4 .flex-right {
  padding-right: 50px;
  padding-left: 50px;
}

.slide-4 .title {
  max-width: 800px;
  font-weight: normal;
  font-size: 3vw;
  line-height: 3.1vw;
}

.slide-4 .title b {
  font-weight: bold;
}

.slide-4 .description {
  padding-left: 300px;
  margin-top: -80px;
  margin-bottom: 100px;
}

.slide-5 .flex-right {
  display: flex;
  justify-content: center;
}

.slide-5 .flex-right img {
  width: 60%;
}

.slide-5 .flex-left {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}

.slide-5 .title {
  font-size: 7vw;
}

.slide-5 .description {
  position: absolute;
  right: 4vw;
  bottom: 7vh;
}

.slide-6 {
  background: url(../img/bg-6.png) no-repeat left/50% 100%;
  padding-left: 50px;
}

.slide-6 .flex-left {
  display: flex;
  align-items: center;
}

.slide-6 .title {
  font-size: 3vw;
}

.slide-6 .pic {
  position: absolute;
  left: 47%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40vw;
  z-index: 100;
}

.slide-6 .pic-2 {
  position: absolute;
  top: 0;
  right: 50px;
  width: 50vw;
}

.slide-6 .pic-2 img {
  width: 100%;
}

.slide-6 .pic-3 {
  position: absolute;
  top: 0;
  right: 0;
  width: 40vw;
}

.slide-6 .flex-right {
  width: 50%;
  height: 100vh;
  position: relative;
}

.slide-6 .descriptions {
  position: absolute;
  right: 50px;
  bottom: 100px;
}

.slide-6 .description:first-child {
  transform: translateX(-100px);
}

.slide-6 .plus {
  font-size: 80px;
  font-weight: bold;
  line-height: 80px;
  color: #ceabd1;
  margin-bottom: 20px;
}

.slide-7 .flex-right {
  background-color: #d6e9fa;
  align-self: center;
  padding-bottom: 50px;
  border-right: 5vw solid #fff;
}

.slide-7 .pic {
  margin-top: -57px;
  margin-bottom: -121px;
}

.slide-7 .pic img {
  max-width: 80%;
}

.slide-7 .title {
  font-size: 2vw;
  line-height: 2.3vw;
}

.slide-7 .title-right {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}

.slide-7 .description {
  text-align: right;
  padding-right: 70px;
  transform: translateY(130px);
}

.slide-7 .flex-left {
  display: flex;
  align-items: center;
  font-size: 7vw;
  font-weight: bold;
  padding-left: 5vw;
  color: #fff;
}

.slide-8 .flex-right {
  height: 100vh;
}

.slide-8 .flex-left {
  position: relative;
}

.slide-8 .flex-left .title {
  position: absolute;
  left: 50px;
  bottom: 50px;
}

.slide-8 .pic {
  width: 100%;
  position: relative;
  transform: translateX(40px);
  max-height: 80vh;
}

.slide-8 .pic img {
  max-width: 100%;
  max-height: 100%;
}

.slide-8 .pic .description {
  position: absolute;
  left: 350px;
  z-index: 20;
  transform: translateY(50px);
}

.slide-9 .flex-right {
  height: 100vh;
  border-right: 210px solid #fbf3a7;
  width: 55%;
}

.slide-9 .flex-left {
  width: 45%;
}

.slide-9 .pic {
  position: relative;
}

.slide-9 .pic .description {
  position: absolute;
  right: 100px;
  top: 100px;
}

.slide-9 .text {
  font-size: 1.3vw;
  color: #000;
  text-transform: none;
  line-height: 1.2;
  margin-top: -60px;
}

.slide-9 .text b {
  font-weight: bold;
}

.slide-10 .flex-right {
  position: relative;
  height: 100vh;
  overflow: visible;
}

.slide-10 .pic {
  position: relative;
  margin-right: 100px;
  display: flex;
  justify-content: flex-end;
}

.slide-10 .pic .description {
  position: absolute;
  right: 100px;
  bottom: 70px;
}

.slide-10 .text {
  font-size: 1.3vw;
  color: #000;
  text-transform: none;
  line-height: 1.2;
  margin-top: -50px;
  margin-left: -30px;
}

.slide-10 .text b {
  font-weight: bold;
}

.cart {
  text-align: center;
}

.cart__name {
  font-weight: bold;
  line-height: 1.4;
  font-size: 1vw;
  margin-bottom: 10px;
}

.cart__description {
  font-size: 1vw;
  line-height: 1.4;
}

.slide-11 .title {
  position: absolute;
  left: 100px;
  top: 100px;
  font-size: 5vw;
  line-height: 2.2vw;
}

.slide-11 .title span {
  padding-left: 100px;
  display: inline-block;
}

.slide-11 .flex-left {
  display: flex;
  align-items: flex-end;
  padding-bottom: 100px;
}

.slide-11 .flex-right {
  display: flex;
  align-items: flex-end;
  padding-bottom: 100px;
  background: url(../img/bg-12.png) no-repeat right center/auto 100%;
  height: 100vh;
}

.slide-11 .cart-1 {
  margin-top: -200px;
}

.slide-11 .cart-1 .cart__name {
  margin-top: -200px;
}

.slide-11 .cart-2 {
  text-align: center;
}

.slide-11 .cart-2 img {
  max-width: 85%;
  display: inline-block;
  margin-bottom: -7vh;
}

.slide-12 {
  justify-content: space-between;
}

.slide-12 .flex-left {
  display: flex;
  align-items: flex-end;
  padding-bottom: 100px;
  height: 100vh;
  width: 50%;
}

.slide-12 .flex-right {
  display: flex;
  align-items: flex-end;
  padding-bottom: 100px;
  padding-right: 100px;
  height: 100vh;
  justify-content: space-between;
  width: 50%;
}

.slide-12 .flex-right .cart {
  width: calc(33.3% - 10px);
}

.slide-12 .cart-1 img {
  max-width: 65%;
  display: inline-block;
  margin-bottom: -35px;
}

.slide-13 {
  justify-content: space-between;
  background: url(../img/podveska-3.png) no-repeat 70% top/auto 90%;
}

.slide-13 .flex-left {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding-bottom: 100px;
  height: 100vh;
  width: 45%;
}

.slide-13 .flex-right {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-bottom: 100px;
  padding-right: 100px;
  height: 100vh;
  width: 55%;
}

.slide-13 .flex-right .cart {
  width: calc(33.3% - 10px);
}

.slide-13 .cart-1 img,
.slide-13 .cart-2 img {
  max-width: 80%;
  display: inline-block;
}

.slide-14 {
  justify-content: space-between;
}

.slide-14 .flex-left {
  display: flex;
  align-items: flex-end;
  padding-bottom: 100px;
  height: 100vh;
  width: 45%;
}

.slide-14 .flex-right {
  display: flex;
  align-items: flex-end;
  padding-bottom: 100px;
  padding-right: 100px;
  height: 100vh;
  justify-content: space-between;
  width: 55%;
  padding-left: 5%;
}

.slide-14 .flex-right .cart {
  width: calc(33.3% - 10px);
}

.slide-15 {
  background-color: #7d6e99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.last__link {
  font-size: 30px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  margin-bottom: 200px;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: center;
}

.socials__link {
  margin-left: 50px;
  margin-right: 50px;
  color: #fff;
}

.socials__ico {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.socials__ico img {
  width: 20px;
  height: 20px;
}

.next {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 200;
  width: 60px;
  cursor: pointer;
  opacity: .6;
  transition: .4s;
}

.next:hover {
  opacity: 1;
}

.prev {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%) rotateZ(180deg);
  z-index: 200;
  width: 60px;
  cursor: pointer;
  opacity: .6;
  transition: .4s;
}

.prev:hover {
  opacity: 1;
}

.slide-2 .pic {
  transform: translateX(10vw) translateY(-10px);
  opacity: 0;
  transition-delay: 2s;
  transition: .6s;
}

.slide-2 .description,
.header,
.slide-3 .pic-2,
.slide-4 .description,
.descriptions,
.slide-12 .flex-right .cart {
  transform: translateY(-10px);
  opacity: 0;
  transition-delay: 2s;
  transition: .6s;
}

.slide-3 .pic-3,
.slide-6 .pic-2,
.slide-6 .pic-3,
.slide-10 .pic {
  transform: translateY(-10px);
  opacity: 0;
  transition: .6s;
}

.title,
.text {
  transform: translateY(10px);
  opacity: 0;
  transition-delay: 2s;
  transition: .6s;
}

.slide-12 .flex-right .cart-2,
.slide-12 .flex-right .cart-3,
.slide-12 .flex-right .cart-4,
.slide-14 .flex-right .cart-2,
.slide-14 .flex-right .cart-3,
.slide-14 .flex-right .cart-4 {
  transform: translateY(10px);
  opacity: 0;
  transition: .6s;
}

.flex-left {
  opacity: 0;
  transform: scale(1.1);
  transition: .4s;
}

.slide-4 .pic-2,
.slide-5 .flex-right,
.slide-11 .cart-2 {
  opacity: 0;
  transform: translateX(20px);
  transition: 1.6s;
}

.slide-6 .pic {
  transform: translate(-50%, -50%) scale(0.9);
  transition: 1s;
  opacity: 0;
}

.slide-7 .pic,
.slide-13 .flex-right {
  transform: scale(0.9);
  transition: 1s;
  opacity: 0;
}

.slide-6 .flex-right {
  overflow: inherit;
}

.swiper-slide-active.slide-12 .flex-right .cart-2,
.swiper-slide-active.slide-12 .flex-right .cart-3,
.swiper-slide-active.slide-12 .flex-right .cart-4,
.swiper-slide-active.slide-14 .flex-right .cart-2,
.swiper-slide-active.slide-14 .flex-right .cart-3,
.swiper-slide-active.slide-14 .flex-right .cart-4 {
  transform: translateY(0px);
  opacity: 1;
  transition: .6s;
}

.swiper-slide-active.slide-12 .flex-right .cart-2,
.swiper-slide-active.slide-14 .flex-right .cart-2 {
  transition-delay: .3s;
}

.swiper-slide-active.slide-12 .flex-right .cart-3,
.swiper-slide-active.slide-14 .flex-right .cart-3 {
  transition-delay: .6s;
}

.swiper-slide-active.slide-12 .flex-right .cart-4,
.swiper-slide-active.slide-14 .flex-right .cart-4 {
  transition-delay: .9s;
}

.swiper-slide-active.slide-2 .pic {
  transform: translateX(10vw) translateY(0px);
  opacity: 1;
  transition-delay: .6s;
}

.swiper-slide-active.slide-2 .description,
.swiper-slide-active .header,
.swiper-slide-active .title,
.swiper-slide-active.slide-3 .pic-2,
.swiper-slide-active.slide-4 .description,
.swiper-slide-active .descriptions,
.swiper-slide-active.slide-10 .pic,
.swiper-slide-active .text {
  transform: translateY(0px);
  opacity: 1;
  transition-delay: .3s;
}

.swiper-slide-active .flex-left,
.swiper-slide-active.slide-13 .flex-right {
  opacity: 1;
  transform: scale(1);
  transition: .6s;
  transition-delay: .3s;
}

.swiper-slide-active.slide-3 .pic-3 {
  transform: translateY(-10px);
  opacity: 1;
  transition-delay: .6s;
}

.swiper-slide-active.slide-4 .pic-2,
.swiper-slide-active.slide-5 .flex-right,
.swiper-slide-active.slide-11 .cart-2 {
  opacity: 1;
  transform: translateX(0);
  transition-delay: .3s;
}

.swiper-slide-active.slide-6 .pic {
  transform: translate(-50%, -50%) scale(1);
  transition-delay: .3s;
  opacity: 1;
}

.swiper-slide-active.slide-7 .pic {
  transform: scale(1);
  transition-delay: .3s;
  opacity: 1;
}

.swiper-slide-active.slide-6 .pic-2,
.swiper-slide-active.slide-6 .pic-3 {
  transform: translateY(0px);
  opacity: 1;
}

.swiper-slide-active.slide-6 .pic-3 {
  transition-delay: 1.2s;
}

.swiper-slide-active.slide-6 .pic-2 {
  transition-delay: 1s;
}

@media (max-width: 980px) {
  .circle__button {
    width: 50px;
    height: 50px;
  }

  .circle__button .svgsprite {
    width: 25px;
  }

  .button.--lightgrey {
    height: 50px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 15px;
  }

  .copyright {
    max-width: 190px;
  }

  .footer__link {
    margin-bottom: 10px;
  }

  .footer__link .link {
    font-size: 16px;
  }

  .footer__circle {
    width: 50px;
    height: 50px;
  }

  .footer__circle .svgsprite._marker {
    width: 25px;
  }

  .footer__circle .svgsprite._phone-footer {
    width: 25px;
  }

  .footer__circle .svgsprite._inst {
    width: 25px;
  }

  .footer__logo {
    width: 100px;
  }

  .footer__circle {
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .circle__button {
    width: 38px;
    height: 38px;
  }

  .circle__button .svgsprite {
    width: 22px;
  }

  .button.--small {
    font-size: 13px;
    padding-left: 13px;
    padding-right: 13px;
  }

  .button.--big {
    height: 50px;
    font-size: 15px;
    border-radius: 6px;
  }

  .button {
    height: 50px;
    font-size: 15px;
  }

  .button.--lightgrey {
    padding-left: 18px;
    padding-right: 18px;
  }

  .footer {
    display: none;
  }

  .mobile-footer {
    padding-bottom: 43px;
    display: block;
  }

  .footer__contact .grey-description {
    line-height: 15px;
    padding-top: 3px;
  }

  .accardeon__main {
    padding-top: 24px;
    padding-bottom: 24px;
    font-size: 16px;
  }

  .accardeon__drop {
    padding-bottom: 24px;
  }

  .footer__circle {
    width: 38px;
    height: 38px;
    margin-right: 16px;
  }

  .footer__circle .svgsprite._marker {
    width: 22px;
  }

  .footer__circle .svgsprite._phone-footer {
    width: 22px;
  }

  .footer__circle .svgsprite._inst {
    width: 22px;
  }

  .footer__contact {
    margin-bottom: 18px;
  }

  .footer__contact:last-child {
    margin-bottom: 0px;
  }

  .copyright {
    padding-top: 24px;
    max-width: 325px;
    margin-bottom: 20px;
  }

  .footer__bottom {
    display: block;
  }

  .footer__bottom p {
    margin-bottom: 16px;
  }

  .footer__bottom p:last-child {
    margin-bottom: 0px;
  }
}
/*# sourceMappingURL=maps/common.css.map */
